#title{
  background-color: #ff4c68;
  font-family: 'Montserrat';
}
h1{
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}
h2{
  font-family: 'Montserrat';
  line-height: 1.5;
  font-size: 2.5rem;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.navbar{
  padding: 0 0 4.5rem;
}
.brand{
  font-family: 'Ubuntu';
  font-size: 3rem;
  line-height: 2;
  font-weight: bold;
  color: white;
}
.nav-item{
  padding: 0 1rem;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Source Sans Pro';
}
.download-button{
  margin: 3rem 1rem 0 0;
}
.iphone6{
  width: 55%;
  margin: 20px;
  transform: rotate(25deg);
  position: absolute;
  right: 20%;
}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;
}
h3{
  font-family: 'PT Sans';
  font-size: 1.5rem;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
color:#ef8172;
margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
p{
  color: #8f8f8f;
}
/*testimonial*/
#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-img{
  border-radius: 100%;
  width: 10%;
    margin: 5% 0;
}
#press{
  background-color:#ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.testimonial-logo{
  width: 12.5%;
  padding: 0 1.5%;
}
#pricing{
  padding: 7%;
  text-align: center;
}
.btn-block{
  background-color: #ef8172;
  color: white;
}
.btn-block:hover{
background-color: #ff4c68;
transform: scale(1.1);
}
#cta{
background-color:  #ff4c68;
}
@media (max-width:1030px) {
    #title{
      text-align: center;
    }
  .iphone6{
    position: static;
    transform: rotate(0);
  }

  #Mastiff{
    position: relative;
    left: 50%;
     margin-top: 20px;
  }
  @media (max-width:768px) {
    #Mastiff{
      left:auto;
    }
    .btn1{
      font-size: 17.1px;
    }
  }
}
#cta{
  background-color: #ff4c68;
  padding:7% 15%;
  text-align: center;
}
.cta-title{
  font-size: 3rem;
  line-height: 1.25;
  color: white;
  font-family: 'Montserrat';
}
/*footer*/
#footer{
  text-align: center;
  padding: 7% 15% 1% 15%;
}
a{
  display: inline-block;
  padding: 0 10px;
  color:  #ef8172;
  line-height: 3;
}
a:hover{
  color:  #ff4c68;
  transform: scale(1.2);
}
.SS{
  font-size: 1.25rem;
  color:  #ef8172;
}
.download-button:hover{
  transform: scale(1.1);
}
